﻿@using InvoicingAppBrighamMoll.Models
@model InvoicingAppBrighamMoll.Models.Invoice
@{
    ViewBag.Title = "EditInvoice";
}

<h2>Edit Invoice</h2>

@using (Html.BeginForm())
{
    <div>
        <div>
            @Html.LabelFor(x => x.ClientName)
            @Html.TextBoxFor(x => x.ClientName)
            @Html.ValidationMessageFor(x => x.ClientName)
        </div>
        <div>
            @Html.LabelFor(x => x.ClientAddress)
            @Html.TextBoxFor(x => x.ClientAddress)
            @Html.ValidationMessageFor(x => x.ClientAddress)
        </div>
        <div>
            @Html.LabelFor(x => x.DateShipment)
            @Html.TextBoxFor(x => x.DateShipment)
            @Html.ValidationMessageFor(x => x.DateShipment)
        </div>
        <div>
            @Html.LabelFor(x => x.PayDueDate)
            @Html.TextBoxFor(x => x.PayDueDate)
            @Html.ValidationMessageFor(x => x.PayDueDate)
        </div>
        <div>
            @Html.LabelFor(x => x.ProdName)
            @Html.TextBoxFor(x => x.ProdName)
            @Html.ValidationMessageFor(x => x.ProdName)
        </div>
        <div>
            @Html.LabelFor(x => x.ProdQuantity)
            @Html.TextBoxFor(x => x.ProdQuantity)
            @Html.ValidationMessageFor(x => x.ProdQuantity)
        </div>
        <div>
            @Html.LabelFor(x => x.UnitPrice)
            @Html.TextBoxFor(x => x.UnitPrice)
            @Html.ValidationMessageFor(x => x.UnitPrice)
        </div>
        <div>
            @Html.LabelFor(x => x.CurrType)
            @Html.DropDownList("CurrType",
                        new SelectList(Enum.GetValues(typeof(CurrencyType))),
                        "Select Currency Type",
                        new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CurrType)
        </div>
        <div>
            <input type="submit" value="Save Invoice" />
        </div>
    </div>
}
