﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
    <h4>@ViewBag.ErrorMsg</h4>
    <div class="container">
        <label for="userName"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="userName" required><br /><br />

        <label for="passWord"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="passWord" required><br /><br />

        <input type="submit" name="action" value="User Login" />
        <input type="submit" name="action" value="Manager Login" />
    </div>
</form>

