﻿
@{
    ViewBag.Title = "Landing";
}

<h1>@ViewBag.ErrorMsg</h1>
<h2>Welcome, @ViewBag.Username! Select an option.</h2>

@Html.ActionLink("Add Invoice", "AddInvoice") <br />
@Html.ActionLink("Review Recieveables (Managers only)", "ReviewReceiveables")

