﻿@using InvoicingAppBrighamMoll.Models
@using InvoicingAppBrighamMoll.Storage
@{
    ViewBag.Title = "Review Receiveables";

    // Use LINQ to query and find all unresolved invoices to display!
    List<Invoice> invoiceList = ((IInvoiceStorage)ViewBag.StoredInvoices).InvoiceList;
    var query = invoiceList.FindAll(invoiceEnt => invoiceEnt.TotalPrice > 0);
    // Loop through the query down below to fill out the list of invoices.
}

<h2>Review Receiveables</h2>

@Html.ActionLink("Add Invoice", "AddInvoice")

<div class="panel-body">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th class="text-center col-xs-1">Invoice Number</th>
                <th>Client Name</th>
                <th class="text-right">Total</th>
                <th class="text-center">Payment Due</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoiceEnt in query) // Use LINQ query from above to populate list.
            {
                <tr>
                    <td class="text-center col-xs-1">@Html.ActionLink(invoiceEnt.InvoiceNumber, "EditInvoice", new { InvoiceNumber = invoiceEnt.InvoiceNumber })</td>
                    <td>@Html.ActionLink(invoiceEnt.ClientName, "EditInvoice", new { InvoiceNumber = invoiceEnt.InvoiceNumber })</td>
                    <td class="text-right">@invoiceEnt.TotalPrice</td>
                    <td class="text-center">@invoiceEnt.PayDueDate</td>
                    <td class="text-center">
                        @using (Html.BeginForm("ResolveInvoice", "UserAccounts"))
                        {
                            @Html.Hidden("InvoiceNumber", invoiceEnt.InvoiceNumber)
                            <input type="submit" class="btn btn-default btn-sm" value="Mark as paid" />
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th class="text-left text-danger">Total Receivables: </th>
                <th class="text-right text-danger">@(((decimal)(((IInvoiceStorage)ViewBag.StoredInvoices).TotalReceivables)).ToString("c"))</th>
                <th></th>
            </tr>
        </tfoot>

    </table>
</div>
